@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(7, 7, 7);
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box {
  transform-style: preserve-3d;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotate(25deg);
  }
  100% {
    transform: perspective(1000px) rotateX(360deg) rotate(25deg);
  }
}
.container .box span {
  position: absolute;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 900;
  white-space: nowrap;
  text-transform: initial;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 10px;
  line-height: 0.76em;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.5),
    transparent
  );
  transform-style: preserve-3d;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg))
    translateZ(105px);
}
.container .box i:nth-child(1) {
  font-style: initial;
  color: #ff246f;
}
.container .box i:nth-child(2) {
  font-style: initial;
  color: #12b5ff;
}
